@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


$color-navbarbackground: #333333;
$color-bordercolor: #e2492f;
$color-bodybackgorund:#595959;
$color-font: #ffffff;

body{
  background-color: $color-bodybackgorund;
  font-family: "righteous","cursive","chalkduster";
}

nav {
  overflow: hidden;
  background-color: $color-navbarbackground;
li {
  float: left;
  display: block;
  color: $color-font;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
}

form{
  text-align: center;
  border-style: dashed;
  border-radius: 20px;
  border-color:$color-bordercolor;
  border-width: 5px;
  padding: 1%;
  margin-top: 1%;
}




  @media screen and (max-width: 600px) {
    nav li {
      float: none;
      width: 100%;
      text-align: center;
    }
  }