@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


$color-navbarbackground: #333333;
$color-bordercolor: #e2492f;
$color-bodybackgorund:#595959;
$color-font: #ffffff;
$color-status: #009B77;
$color-picture: #398AD7;

body{
  background-color: $color-bodybackgorund;
  font-family: "righteous","cursive","chalkduster";
}

nav {
  overflow: hidden;
  background-color: $color-navbarbackground;
li {
  float: left;
  display: block;
  color: $color-font;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  a{
    text-decoration: none;
    color: $color-font;
  }
}
}

form{
  text-align: center;
  border-style: dashed;
  border-radius: 20px;
  border-color:$color-bordercolor;
  border-width: 5px;
  padding: 1%;
  margin-top: 1%;
}

#status{
  color: $color-status;
  display: block;
  text-align: center;
  font-size: 2em;
}

#output {
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
  width: 1200px;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}
.gif-box {
  margin: 0.5rem;
  border-style: solid;
  border-color: $color-picture;
  border-width: 5px;
  height: auto;
  width: auto;
  img {
      display: block;
  }
}

#bottom  {
  a{
text-decoration: underline;
color: $color-font;
  }
}

  @media screen and (max-width: 600px) {
    nav li {
      float: none;
      width: 100%;
      text-align: center;
    }
    #output{
      display: inline-grid;
      grid-template-columns: auto;
      text-align: left;
      .gif-box{
        border-style: none;
        img{
          border-style: solid;
          border-color: $color-picture;
        }
      }
    }
  }